Repository projectpai/paicoin, pull requests merged in 2018-12, with the labels that each got.

#154 Never bind INADDR_ANY by default, and warn when doing so explicitly (from bitcoin)
  src/httpserver.cpp
  src/init.cpp
  src/netaddress.cpp
  src/netaddress.h
Labels: P2P, RPC/REST/ZMQ

#156 Request Payment dialog shown on lock
  src/qt/receiverequestdialog.cpp
Labels: GUI

#157 Convert C-style (void) parameter lists to C++ style () (merge from bitcoin)
  src/bench/bench.cpp
  src/bench/perf.cpp
  src/bench/perf.h
  src/httprpc.cpp
  src/httpserver.cpp
  src/httpserver.h
  src/init.cpp
  src/key.h
  src/qt/macnotificationhandler.h
  src/qt/paicoin.cpp
  src/qt/rpcconsole.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/scheduler.cpp
  src/scheduler.h
  src/test/crypto_tests.cpp
  src/validation.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring

#158 Tests for zmqpubrawtx and zmqpubrawblock
  test/functional/test_framework/util.py
  test/functional/zmq_test.py
Labels: Functional_Tests

#160 Add error string for CLEANSTACK script violation, preventing an "unkn…
  src/script/script_error.cpp
Labels: Validation

#161 Refactor HTTP and RPC code to use C++11 'enum class'
  src/http.h
  src/httprpc.cpp
  src/httpserver.cpp
  src/httpserver.h
  src/paicoin-block-generator.cpp
  src/paicoin-cli.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/protocol.cpp
  src/rpc/protocol.h
  src/rpc/rawtransaction.cpp
  src/rpc/safemode.cpp
  src/rpc/server.cpp
  src/util.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC/REST/ZMQ, Refactoring

#164 Fix bip68-sequence rpc test
  test/functional/bip68-sequence.py
Labels: Functional_Tests

#166 Terminate string *pszExePath after readlink and without using memset
  src/qt/guiutil.cpp
Labels: GUI

#167 Feature/apply bitcoin patch30
  src/rpc/blockchain.cpp
  test/functional/blockchain.py
Labels: RPC/REST/ZMQ

#168 Add Qt GUI tests to Overview and ReceiveCoin Page
  src/qt/test/wallettests.cpp
Labels: Tests

#169 add functional test for mempoolreplacement command line arg
  test/functional/replace-by-fee.py
Labels: Functional_Tests

#170 Add tests for CMerkleBlock usage with txids specified
  src/Makefile.test.include
  src/test/bloom_tests.cpp
  src/test/merkleblock_tests.cpp
  src/test/test_paicoin.cpp
  src/test/test_paicoin.h
Labels: Refactoring, Tests

#172 qa: Restore paicoin-util-test py2 compatibility
  src/Makefile.test.include
  test/util/paicoin-util-test.py
Labels: Tests

#173 Feature/apply bitcoin patch35
  src/init.cpp
  src/util.cpp
  src/wallet/wallet.cpp
Labels: Wallet

#174 Squashed 'src/secp256k1/' changes from 84973d393..0b7024185
  src/secp256k1/contrib/lax_der_parsing.h
  src/secp256k1/contrib/lax_der_privatekey_parsing.h
  src/secp256k1/include/secp256k1.h
  src/secp256k1/include/secp256k1_ecdh.h
  src/secp256k1/include/secp256k1_recovery.h
  src/secp256k1/sage/group_prover.sage
  src/secp256k1/src/asm/field_10x26_arm.s
  src/secp256k1/src/basic-config.h
  src/secp256k1/src/bench.h
  src/secp256k1/src/ecdsa.h
  src/secp256k1/src/ecdsa_impl.h
  src/secp256k1/src/eckey.h
  src/secp256k1/src/eckey_impl.h
  src/secp256k1/src/ecmult.h
  src/secp256k1/src/ecmult_const.h
  src/secp256k1/src/ecmult_const_impl.h
  src/secp256k1/src/ecmult_gen.h
  src/secp256k1/src/ecmult_gen_impl.h
  src/secp256k1/src/ecmult_impl.h
  src/secp256k1/src/field.h
  src/secp256k1/src/field_10x26.h
  src/secp256k1/src/field_10x26_impl.h
  src/secp256k1/src/field_5x52.h
  src/secp256k1/src/field_5x52_asm_impl.h
  src/secp256k1/src/field_5x52_impl.h
  src/secp256k1/src/field_5x52_int128_impl.h
  src/secp256k1/src/field_impl.h
  src/secp256k1/src/group.h
  src/secp256k1/src/group_impl.h
  src/secp256k1/src/hash.h
  src/secp256k1/src/hash_impl.h
  src/secp256k1/src/modules/ecdh/main_impl.h
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/modules/recovery/main_impl.h
  src/secp256k1/src/modules/recovery/tests_impl.h
  src/secp256k1/src/num.h
  src/secp256k1/src/num_gmp.h
  src/secp256k1/src/num_gmp_impl.h
  src/secp256k1/src/num_impl.h
  src/secp256k1/src/scalar.h
  src/secp256k1/src/scalar_4x64.h
  src/secp256k1/src/scalar_4x64_impl.h
  src/secp256k1/src/scalar_8x32.h
  src/secp256k1/src/scalar_8x32_impl.h
  src/secp256k1/src/scalar_impl.h
  src/secp256k1/src/scalar_low.h
  src/secp256k1/src/scalar_low_impl.h
  src/secp256k1/src/testrand.h
  src/secp256k1/src/testrand_impl.h
  src/secp256k1/src/util.h
Labels: Upstream

#175 reset addrProxy/addrSeparateProxyTor if colon char missing
  src/qt/optionsmodel.cpp
Labels: GUI, P2P

#176 Make comp test framework more debuggable
  test/functional/test_framework/comptool.py
Labels: Functional_Tests

#177 Improve readability of DecodeBase58Check(...)
  src/base58.cpp
Labels: Refactoring
