Repository projectpai/paicoin, pull requests merged in 2019-01, with the labels that each got.

#179 Update importprivkey named args documentation
  src/wallet/rpcdump.cpp
  test/functional/importprunedfunds.py
Labels: RPC/REST/ZMQ

#181 Closing app on Set PIN screen issues
  src/Makefile.am
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/util.cpp
Labels: GUI

#182 After importing request from URI issue with formatting message
  src/qt/guiutil.cpp
Labels: GUI

#183 Specifically test wallet's getbalance and getunconfirmedbalance RPCs
  test/functional/test_runner.py
  test/functional/wallet_balance.py
Labels: Functional_Tests, RPC/REST/ZMQ, Tests, Wallet

#187 fix typo in comment of chain.cpp
  src/chain.cpp
Labels: Docs
